

<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

    <nav class="nav-menu">
        <ul>
            <li><a href="hero"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="Portfolio"><i class="bx bx-book-content"></i> <span>What's new?</span></a></li>

            <li><a href="UpcomingEvents"><i class="bx bx-calendar-check"></i> <span>IR Rounds</span></a></li>

            <li><a href="AboutUs"><i class="bx bx-info-circle"></i> <span>NextRound is</span></a></li>
            <li><a href="#contact"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
    </nav><!-- .nav-menu -->

</header><!-- End Header -->

